<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
	- Application context definition for "springapp" DispatcherServlet.
-->

<beans>	
	<bean id="auditTaskSendResultSetCallBack" class="com.baidu.beidou.auditmanager.service.impl.AuditTaskSendResultSetCallBack">
		<property name="userInfoMgr">
			<ref bean="userInfoMgr" />
		</property>
		<property name="auditredisCacheMgr">
			<ref bean="auditredisCacheMgr" />
		</property>
		<property name="blackUserList">
			<set>
				<value>0</value>
			</set>
		</property>
	</bean>

</beans>
