<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
	- Application context definition for "springapp" DispatcherServlet.
-->

<beans>

	<bean id="salerMgr"
		class="com.baidu.beidou.salemanager.service.impl.SalerMgrImpl">
		<property name="userDao">
			<ref bean="userDao" />
		</property>
		<property name="userInfoMgr">
			<ref bean="userInfoMgr"/>
		</property>
	</bean>
	
</beans>
