<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
	- Application context definition for "springapp" DispatcherServlet.
-->

<beans>
    <bean id="atLeftTradeService" class="com.baidu.beidou.atleft.service.impl.AtLeftTradeServiceImpl">
        <property name="atLeftTradeDao">
            <ref bean="atLeftTradeDao" />
        </property>
    </bean>
    
    <bean id="atLeftTradeTask" class="com.baidu.beidou.atleft.service.AtLeftTradeTask" scope="prototype">
    	<property name="atLeftTradeService">
            <ref bean="atLeftTradeService" />
        </property>
        <property name="pageSize">
            <value>1000</value>
        </property>
         <property name="sleepTime">
            <value>1</value>
        </property>
        
        <property name="simpleTransProxy">
            <ref bean="simpleTransProxy" />
        </property>
    </bean>
    
    <bean id="simpleTransProxy" class="com.baidu.beidou.shrink.service.impl.SimpleTransProxyImpl" />
</beans>
